<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!--Servlet configuration -->
  <servlet>
  <servlet-name>html</servlet-name>
  <servlet-class>com.nt.servlet.HTMLServlet</servlet-class>
  </servlet>
  <!-- Servlet Mapping Configuration -->
  <servlet-mapping>
  <servlet-name>html</servlet-name>
  <url-pattern>htmlurl</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet configuration -->
  <servlet>
  <servlet-name>excel</servlet-name>
  <servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
  </servlet>
  <!-- Servlet Mapping Configuration -->
  <servlet-mapping>
  <servlet-name>excel</servlet-name>
  <url-pattern>excelurl</url-pattern>
  </servlet-mapping>
  
   <!-- Servlet configuration -->
  <servlet>
  <servlet-name>word</servlet-name>
  <servlet-class>com.nt.servlet.WordServlet</servlet-class>
  </servlet>
  <!-- Servlet Mapping Configuration -->
  <servlet-mapping>
  <servlet-name>word</servlet-name>
  <url-pattern>wordurl</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet configuration -->
  <servlet>
  <servlet-name>plane</servlet-name>
  <servlet-class>com.nt.servlet.PlaneServlet</servlet-class>
  </servlet>
  <!-- Servlet Mapping Configuration -->
  <servlet-mapping>
  <servlet-name>plane</servlet-name>
  <url-pattern>planeurl</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet configuration -->
  <servlet>
  <servlet-name>xml</servlet-name>
  <servlet-class>com.nt.servlet.XMLServlet</servlet-class>
  </servlet>
  <!-- Servlet Mapping Configuration -->
  <servlet-mapping>
  <servlet-name>xml</servlet-name>
  <url-pattern>xmlurl</url-pattern>
  </servlet-mapping>
  
  
</web-app>
</element>